@media only screen and (max-width:768px) {
    .profile {
        flex-direction: column;


        &__right {
            
        }

        &__right__user {
        }

        &__right__link {
            width: 100%;
            display: block;
        }

        &__left {
           
        }

        &__left__data {
            width: 500px;
            flex-direction: column;
        }
    }
}