
@media only screen and (max-width:768px) {

    .hero__section {
        width: 100%;
    }

    .hero {

        &__heading {
            width: 375px;
            font-size: 38px;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
        }

        &__wrapper {
            text-align: center; 
            margin: 0 auto;
        }

        // &__text {
        //     margin: 0 auto;
        // }
    }
}

@media only screen and (max-width:375px) {

    .hero__section {
        width: 100%;
    }

    .hero {
        width: 100%;

        &__heading {
            width: 300px;
            font-size: 25px;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
        }

        &__text {
            width: 300px;
        }


        &__wrapper {
            text-align: center;   
        }
    }
}