@media only screen and (max-width:1220px) {
    .profile {
     
        &__left__data {
            flex-direction: column;
        }

        &__left--right {
            margin-bottom: 30px;
        }
    }

}
@media only screen and (max-width:768px) {
    .profile {
        flex-direction: column;

        &__left__left {
            margin-left: 0;
        }

        &__right__link {
            width: 100%;
            display: block;
        }

        &__left {
           margin-top: 50px;
        }

        &__left--right {
            margin-bottom: 30px;
        }

        &__left__data {
            width: 500px;
            flex-direction: column;
        }
    }
}

@media only screen and (max-width:540px) {
    .profile {

        &__left__data {
            max-width: 400px;
        }
    }
}

@media only screen and (max-width:440px) {
    .profile {

        &__left__text {
            width: 350px;
        }

        &__left__data {
            max-width: 300px;
        }

        &__right--hr {
            max-width: 300px;
        }
    }
}

@media only screen and (max-width:380px) {
    .profile {

        &__left__text {
            width: 250px;
        }

        &__left__data {
            max-width: 250px;
        }

        &__right--hr {
            max-width: 200px;
        }

    }
}


@media only screen and (max-width:340px) {
    .profile {
        &__right--hr {
            width: 250px;
        }

        &__right__link {
            width: 250px;
        }

    }
}