.main {


    &__item {
        max-width: 320px;
        // min-height: 400px;
    }

    &__img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }


    .text-ellipsis {
        width: 200px; /* kenglikni belgilang */
        white-space: nowrap; /* Matnni bitta qatorda saqlash */
        overflow: hidden; /* Kenglikdan oshgan qismini yashirish */
        text-overflow: ellipsis; /* O'sha joyda "..." chiqarish */
    }

    .slick-next::before {
        color: #000;
    }

    .slick-prev::before {
        color: #000;
    }

}

@media only screen and (max-width:768px) {
    .main {
        &__img {
            width: 100%;
            display: block;
            justify-content: center;
            margin-bottom: 50px;
            // margin: 0 auto;
        }

        &__link {
           display: flex;
           justify-content: center;
           text-align: center;
           margin-top: 30px;
        }


        &__list {
            justify-content: center;
            text-align: center;
        }

        &__item {
            width: 400px;
            height: 650px;
            border: none;
            border: 1px solid black;
            margin-top: 100px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__text {
            text-align: center;
            margin: 0 auto;
        }

        &__cart-img {
            // margin-top: 10px;
            position: relative;
            top: 15px;
        }

        .slick-arrow::before{
            background: #000!important;
            border: 2px solid black;
            color: black;
        }

        .slick-next {
            background: #000;
            border: 2px solid black;

        }
    }
}


@media only screen and (max-width:375px) {
        .main {

            &__wrapp {
                flex-direction: column;
                justify-content: center;
                margin: 0 auto;
            }

            &__cart-img {
                margin: 0 auto;
            }
        }
}


@media only screen and (max-width:310px) {
    .main {

        &__item {
            max-width: 230px;
        }

        &__text {
            max-width: 200px;
        }

    }
}