@media only screen and (max-width:768px) {
    .messages {
        flex-direction: column;
    }

    .messages_left {
        margin-top: 50px;
        margin-left: 0;
    }

    .messages__message {
        position: relative;
        left: 0;
    }

    .messages__form {
        max-width: 500px;
    }

    .messages__input {

    }


}

@media only screen and (max-width:768px) {
    
}

@media only screen and (max-width:768px) {
    
}

@media only screen and (max-width:768px) {
    
}