
/* #root {
    display: flex;
    flex-direction: column;
    height: 100vh;
} */




html {
    overflow-x: hidden !important;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    // background-image: url('../src/assets/background.jpg');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // color: white;
    color: rgb(0, 0, 104);
}


.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

ul , ol {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

main {
    flex-grow: 1;
}

/* pages style */


