
.order {
    .slick-next::before {
        color: #000;
    }
        
    .slick-prev::before {
        color: #000;
    }
}

// order tablet
@media (max-width:768px) {
    .order {

        &__item {
            width: 450px;
            min-height: 700px;
            border: none;
            border: 1px solid black;
            margin: 0 auto;
            margin-top: 100px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

@media (max-width:530px) {
    .order {
        .carts__counts {
            width: 150px;
            display: flex;
            margin-bottom: 40px;
        }
    }
}

// order mobile 
@media (max-width:475px) {
    .order {

        .slider-container {
            margin-bottom: 0;
            position: relative;
            z-index: -100;
        }

        .carts__counts {
            position: relative;
            z-index: -100;
        }

        &__item__wrapp {
            margin-left: 50px;
        }

        &__item__image {
            max-width: 250px;
            width: 100%;
        }

        &__item {
            width: 400px;
            min-height: 500px;
            border: none;
            border: 1px solid black;
            margin: 0 auto;
            margin-top: 200px;
            flex-direction: column;
            justify-content: center;
            align-items: center;   
        }

        &__img {
            width: 300px;
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
        }

        &__bottom {
            position: relative;
            bottom: 40px;
        }
    }
}

// mobile 435
@media (max-width:435px) {
    .order {

        &__item {
            width: 300px;
            min-height: 750px;
            border: none;
            border: 1px solid black;
            margin: 0 auto;
            margin-top: 100px;
            flex-direction: column;
            justify-content: center;
            align-items: center;   
        }

        &__img {
            margin-top: 50px;
        }

        &__name {
            text-align: center;
        }

        &__text {
            width: 250px;
            // text-align: center;
        }

    }
}

@media (max-width:410px) {
    .order {

        .slider-container {
            width: 300px;
        }

        &__item__wrapp {
            margin-left: 30px;
        }

        &__item__image {
            max-width: 250px;
            width: 100%;
        }
    }    
}

// order mobile 
@media (max-width:375px) {
    .order {

        &__item {
            width: 300px;
            min-height: 750px;
            border: none;
            border: 1px solid black;
            margin: 0 auto;
            // margin-top: 100px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__img {
            width: 300px;
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
        }

        &__bottom {
            position: relative;
            bottom: 40px;
        }
    }
}

@media (max-width:350px) {
    .order {
        .slider-container {
            width: 250px;
        }

        &__item__wrapp {
            // margin-left: 30px;
        }

        &__item__image {
            width: 200px;
        }
    }
}

@media (max-width:330px) {
    .order {

        &__item {
                width: 250px;
                min-height: 750px;
                border: none;
                border: 1px solid black;
                margin: 0 auto;
                margin-top: 100px;
                flex-direction: column;
                justify-content: center;
                align-items: center;   
        }

        &__img {
            margin-top: 50px;
        }

        &__name {
            text-align: center;
        }

        &__text {
            width: 200px;
            // text-align: center;
        }

    }
}